/* src/app/globals.css */
 /* background-color: #6babb6; */
 /* 全体 */
body {
  margin: 0;
  font-family: "Noto Serif JP", serif;
  background-color: #6babb6;
  color: #140b01;
}

/* リンク */
a {
  color: inherit;
  text-decoration: none;
}

/* 見出し */
h1, h2, h3 {
  font-weight: 600;
  text-align: center;

}

.list {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
