.search {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search input {
  width: 300px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: #fffaf5;
}


.list {
  display: block;
  text-align: center;
}
